<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="/resetPasswordOnProfile.css">
</head>

<body>
    <form method="POST" action="/api/user/resetPassword">
        <label for="resetText" id="resetText">Reset Password</label>

        <label for="opassword" class="inputLabel">Old Password</label>
        <input type="password" name="opassword" id="opassword" value="<%=savedOPassword%>" required />
        <label for="error" class="error">
            <%=opasswordErr%>
        </label>

        <label for="password" class="inputLabel">New Password</label>
        <input type="password" name="password" id="password" value="<%=savedPassword%>" required />
        <label for="error" class="error">
            <%=passwordErr%>
        </label>

        <label for="cpassword" class="inputLabel">Confirm Password</label>
        <input type="password" name="cpassword" id="cpassword" value="<%=savedCPassword%>" required />
        <label for="error" class="error">
            <%=cpasswordErr%>
        </label>

        <button type="submit" id="submit">Confirm</button>

        <a href="/">
            <button type="button" id="home">Home</button>
        </a>
    </form>


</body>

</html>