<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/signup.css">
</head>

<body>
    <form id="myForm" method="POST" action="/api/user/signup" enctype="multipart/form-data">
        <label for="signupText" id="signupText">Sign Up</label>
        <label for="name" class="inputLabel">Name</label>
        <input type="text" name="name" id="name" value="<%=savedName%>" required />
        <label for="error" class="error">
            <%=nameErr%>
        </label>

        <label for="email" class="inputLabel">Email</label>
        <input type="email" name="email" id="email" value="<%=savedEmail%>" required />
        <label for="error" class="error">
            <%=emailErr%>
        </label>

        <label for="password" class="inputLabel">Password</label>
        <input type="password" name="password" id="password" value="<%=savedPassword%>" required />
        <label for="error" class="error">
            <%=passwordErr%>
        </label>

        <label for="cpassword" class="inputLabel">Confirm Password</label>
        <input type="password" name="cpassword" id="cpassword" value="<%=savedCPassword%>" required />
        <label for="error" class="error">
            <%=cpasswordErr%>
        </label>

        <label for="displayPicture" class="inputLabel">Select a picture</label>
        <input type="file" name="displayPicture" id="displayPicture" accept="image/*">

        <button type="submit" id="submit">Sign Up</button>

        <a href="/api/user/login">
            <button type="button" id="login">Login</button>
        </a>

    </form>

    <script>
        const myForm = document.getElementById('myForm');
        const submit = document.getElementById('submit');
        myForm.addEventListener('submit', (event) => {
            if (!event.isTrusted) {
                event.preventDefault();
                console.log('You are not trusted');

            }
        });

        submit.addEventListener('click', (event) => {
            if (!event.isTrusted) {
                event.preventDefault();
                console.log('You are not trusted');
            }
        });
    </script>
</body>

</html>